@model IEnumerable<ProjectMannagementSystem.Models.Project>

@{
    ViewData["Title"] = "Project List";
}

<div class="mb-3 d-flex gap-2">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Add New <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
    <a href="/AssignProject/Index" class="btn btn-secondary">Assigned Projects</a>
    <button id="exportProjects" class="btn btn-success d-flex align-items-center justify-content-center">
        <i class="fa fa-file-excel me-2"></i> Export Projects
    </button>
</div>
<div class="input-group mb-3">
    <span class="input-group-text"><i class="fa fa-search"></i></span>
    <input type="text" id="searchProject" class="form-control" placeholder="Search by project name...">
</div>


<table id="tbl" class="table table-bordered">
    <thead>
        <tr>
            <th>Project ID</th>
            <th>Project Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Project</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <input type="hidden" id="ProjectId" />
                <div class="mb-3">
                    <label for="ProjectName" class="form-label">Name:</label>
                    <input type="text" id="ProjectName" class="form-control" required />
                </div>
                <div class="mb-3">
                    <label for="Description" class="form-label">Description:</label>
                    <input type="text" id="Description" class="form-control" required />
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnSave">Save</button>
                <button type="button" class="btn btn-success" id="btnUpdate">Update</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#btnSave").show();
            $("#btnUpdate").hide();
            load();

                    $("#exportProjects").click(function () {
            exportTableToCSV('projects.csv', '#tbl'); 
        });


            $("#btnSave").click(function () {
                $(this).prop("disabled", true);
                var obj = {
                    ProjectName: $("#ProjectName").val(),
                    Description: $("#Description").val()
                };
                $.ajax({
                    url: '/Project/Save',
                    type: 'POST',
                    data: obj,
                    success: function (data) {
                        load();
                        $("#staticBackdrop").modal('hide');
                        clearAll();
                        $("#btnSave").prop("disabled", false);
                    },
                    error: function (xhr, status, error) {
                        console.error('Error saving project:', error);
                        $("#btnSave").prop("disabled", false);
                    }
                });
            });

            $("#btnUpdate").click(function () {
                $(this).prop("disabled", true);
                var obj = {
                    ProjectId: $("#ProjectId").val(),
                    ProjectName: $("#ProjectName").val(),
                    Description: $("#Description").val()
                };
                $.ajax({
                    url: '/Project/Update',
                    type: 'POST',
                    data: obj,
                    success: function (data) {
                        load();
                        $("#staticBackdrop").modal('hide');
                        clearAll();
                        $("#btnUpdate").prop("disabled", false);
                    },
                    error: function (xhr, status, error) {
                        console.error('Error updating project:', error);
                        $("#btnUpdate").prop("disabled", false);
                    }
                });
            });
        });

               function load() {
            $.ajax({
                url: '/Project/GetAll',
                type: 'GET',
                success: function (data) {
                    $('#tbl tbody').empty();
                    var tr = "";
                    $.each(data, function (index, item) {
                        tr += "<tr>";
                        tr += "<td>" + item.projectId + "</td>";
                        tr += "<td>" + item.projectName + "</td>";
                        tr += "<td>" + item.description + "</td>";
                        tr += "<td><button class='btn btn-warning' onclick='edit(" + item.projectId + ")'><i class='fa fa-pencil'></i></button> | ";
                        tr += "<button class='btn btn-danger' onclick='deleteProject(" + item.projectId + ")'><i class='fa fa-trash'></i></button></td>";
                        tr += "</tr>";
                    });
                    $('#tbl tbody').html(tr);

                    $("#searchProject").off("keyup").on("keyup", function () {
                        var value = $(this).val().toLowerCase().trim();
                        $("#tbl tbody tr").filter(function () {
                            $(this).toggle($(this).find("td:eq(1)").text().toLowerCase().indexOf(value) > -1);
                        });
                    });
                },
                error: function (xhr, status, error) {
                    console.error('Error loading projects:', error);
                }
            });
        }
                function exportTableToCSV(filename = 'table.csv', tableSelector = '#tbl') {
            var csv = [];
            var rows = document.querySelectorAll(tableSelector + " tr");

            for (var i = 0; i < rows.length; i++) {
                var row = [], cols = rows[i].querySelectorAll("td, th");
                for (var j = 0; j < cols.length - 1; j++) { 
                    row.push('"' + cols[j].innerText.replace(/"/g, '""') + '"');
                }
                csv.push(row.join(","));
            }

            var csvFile = new Blob([csv.join("\n")], { type: "text/csv" });
            var downloadLink = document.createElement("a");
            downloadLink.download = filename;
            downloadLink.href = window.URL.createObjectURL(csvFile);
            downloadLink.style.display = "none";
            document.body.appendChild(downloadLink);
            downloadLink.click();
            document.body.removeChild(downloadLink);
        }

        function edit(id) {
            $.ajax({
                url: '/Project/GetById/' + id,
                type: 'GET',
                success: function (data) {
                    $("#ProjectId").val(data.projectId);
                    $("#ProjectName").val(data.projectName);
                    $("#Description").val(data.description);
                    $("#staticBackdrop").modal('show');
                    $("#btnSave").hide();
                    $("#btnUpdate").show();
                },
                error: function (xhr, status, error) {
                    console.error('Error fetching project:', error);
                }
            });
        }

        function deleteProject(id) {
            $.ajax({
                url: '/Project/Delete/' + id,
                type: 'POST',
                success: function (data) {
                    load();
                },
                error: function (xhr, status, error) {
                    console.error('Error deleting project:', error);
                }
            });
        }

        function clearAll() {
            $("#ProjectId").val("");
            $("#ProjectName").val("");
            $("#Description").val("");
            $("#btnSave").show();
            $("#btnUpdate").hide();
        }
    </script>
}